{% extends 'base.html.twig' %}

{% block title %}
    User list
{% endblock %}

{% block body %}
    <style>
        .content {
            position: fixed;
            top: 2em;
            left: calc( 50% - ( 50em / 2) );
        }

        #new_button {
            position: absolute;
            top: 1em;
            right: 1em;
        }

        .content table {
            width: 50em;
        }

        .content th {
            width: fit-content;
            border: solid 1px black;
            border-left: solid 3px black;
            border-right: solid 3px black;
            padding-left: 0.5em;
        }

        .content td {
            width: fit-content;
            border: solid 1px black;
            border-left: solid 3px black;
            border-right: solid 3px black;
            padding-left: 0.5em;
        }

        .delete_button {
            text-align: center;
            padding-left: 0!important;
        }
    </style>
    <div class="content">
        <h1>User List</h1>
        <a href="{{ path('user_create') }}" id="new_button" class="btn btn-sm btn-primary">New</a>
        <table id="user_list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr id="row_{{ user.id }}">
                        <td> {{ user.id }} </td>
                        <td> <a href="{{ path('user_show', {'id': user.id}) }}">{{ user.name }}</a> </td>
                        <td> {{ user.email }} </td>
                        <td> {{ user.createdAt|date("d/m/Y") }} </td>
                        <td> {{ user.updatedAt|date("d/m/Y") }} </td>
                        <td class="delete_button"> <button class="btn btn-sm btn-danger delete_user" data-id="{{ user.id }}"> Delete user </button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
